/* h1 {
  color: red;
}

.yellow_text {
  color: yellow;
}

#blue_text {
  color: blue;
}

[type="text"] {
  color: red;
}

* {
  color: red;
}

h2 {
  color: green;
} */

/* #heading1 {
  color: red;
}

.heading {
  color: blue;
} */

/* h1 {
  color: green;
}

* {
  color: red;
} */
