* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.preloader_container {
  height: 5rem;
  width: 10rem;
  display: flex;
  gap: 1rem;
}

.preloader_item {
  width: 100%;
  background-color: #000;
  animation-name: preload;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: 0s;
}

.item2 {
  animation-delay: 0.2s;
}

.item3 {
  animation-delay: 0.4s;
}

@keyframes preload {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}
