.box {
  height: 30vh;
  width: 20vw;
  background-color: red;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
}

@media screen and (max-width: 767px) and (min-width: 481px) {
}

@media screen and (max-width: 480px) {
}

/* @media screen and (max-width: 500px) {
  .box {
    background-color: yellow;
  }
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  .box {
    background-color: green;
  }
} */
